{{- include "oc.basicServiceTemplates" (dict "scope" . "appName" "appNameOpenldap" "appNameSuffix" "") -}}
{{- $openldap := .Values.services.openldap }}
{{- if $openldap.enabled }}
apiVersion: apps/v1
kind: Deployment
{{ include "oc.metadata" . }}
spec:
  {{- include "oc.selector" . | nindent 2 }}
  replicas: 1
  strategy:
    type: Recreate
  template:
    {{- include "oc.templateMetadata" (dict "scope" $ "configCheck" false) | nindent 4 }}
    spec:
      {{- with $openldap.podSecurityContext }}
      securityContext:
{{ toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .appName }}
          image: "{{ ($openldap.image.registry | default "docker.io") }}/{{ ($openldap.image.repository | default "cleanstart/openldap") }}:{{ ($openldap.image.tag | default "2.6-amd64") }}"
          imagePullPolicy: {{ $openldap.image.pullPolicy | default "IfNotPresent" }}
          securityContext:
{{- toYaml $openldap.securityContext | nindent 12 }}
          env:
            - name: LDAP_ORGANISATION
              value: {{ $openldap.organisation | quote }}
            - name: LDAP_DOMAIN
              value: {{ $openldap.domain | quote }}
            - name: LDAP_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.ldapSecretRef | default .appName }}
                  key: reva-ldap-bind-password
          ports:
            - name: ldap
              containerPort: {{ $openldap.ports.ldap | default 389 }}
            - name: ldaps
              containerPort: {{ $openldap.ports.ldaps | default 636 }}
          volumeMounts:
            - name: slapd-conf-template
              mountPath: /etc/openldap/slapd.conf
              subPath: slapd.conf.tpl
            - name: slapd-conf-template
              mountPath: /etc/openldap/schema/10_opencloud.schema
              subPath: 10_opencloud.schema
            {{- if $openldap.persistence.enabled }}
            - name: data
              mountPath: {{ $openldap.persistence.dataPath | default "/var/lib/ldap" | quote }}
              subPath: data
              readOnly: false
            {{- end }}
          resources:
            {{- toYaml .resources | nindent 12 }}
      volumes:
        - name: slapd-conf-template
          configMap:
            name: {{ .appName }}-slapd-conf
        {{- if $openldap.persistence.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ .appName }}-data
        {{- end }}
{{- end }}
