{{- include "oc.basicServiceTemplates" (dict "scope" . "appName" "appNameOpenldap" "appNameSuffix" "") -}}
{{- $openldap := .Values.services.openldap }}
{{- if $openldap.enabled }}
apiVersion: apps/v1
kind: Deployment
{{ include "oc.metadata" . }}
spec:
  {{- include "oc.selector" . | nindent 2 }}
  replicas: 1
  strategy:
    type: Recreate
  template:
    {{- include "oc.templateMetadata" (dict "scope" $ "configCheck" false) | nindent 4 }}
    spec:
      containers:
        - name: {{ .appName }}
          image: "{{ ($openldap.image.registry | default "docker.io") }}/{{ ($openldap.image.repository | default "cleanstart/openldap") }}:{{ ($openldap.image.tag | default "2.6-amd64") }}"
          imagePullPolicy: {{ $openldap.image.pullPolicy | default "IfNotPresent" }}
          securityContext:
            allowPrivilegeEscalation: true
            readOnlyRootFilesystem: true
            runAsNonRoot: false
            runAsUser: 0
            runAsGroup: 0
            # capabilities:
            #   drop:
            #     - ALL
            #   add:
            #     - NET_BIND_SERVICE
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: LDAP_ORGANISATION
              value: {{ $openldap.organisation | quote }}
            - name: LDAP_DOMAIN
              value: {{ $openldap.domain | quote }}
            - name: LDAP_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.ldapSecretRef | default .appName }}
                  key: reva-ldap-bind-password
          ports:
            - name: ldap
              containerPort: {{ $openldap.ports.ldap | default 389 }}
            - name: ldaps
              containerPort: {{ $openldap.ports.ldaps | default 636 }}
          volumeMounts:
            - name: custom-ldif
              mountPath: /container/service/slapd/assets/config/bootstrap/schema/custom/10_opencloud_schema.ldif
              subPath: 10_opencloud_schema.ldif
            - name: custom-ldif
              mountPath: /container/service/slapd/assets/config/bootstrap/ldif/custom/10_base.ldif
              subPath: 10_base.ldif
            {{- if $openldap.persistence.enabled }}
            - name: data
              mountPath: {{ $openldap.persistence.dataPath | default "/var/lib/openldap" | quote }}
              subPath: data
              readOnly: false
            - name: data
              mountPath: {{ $openldap.persistence.configPath | default "/etc/ldap/slapd.d" | quote }}
              subPath: config
            {{- end }}
          resources:
            {{- toYaml .resources | nindent 12 }}
      volumes:
        - name: custom-ldif
          configMap:
            name: {{ .appName }}-config
        {{- if $openldap.persistence.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ .appName }}-data
        {{- end }}
{{- end }}
