{{- include "oc.basicServiceTemplates" (dict "scope" . "appName" "appNameOpenldap" "appNameSuffix" "") -}}
{{- $openldap := .Values.services.openldap }}
{{- if $openldap.enabled }}
apiVersion: apps/v1
kind: Deployment
{{ include "oc.metadata" . }}
spec:
  {{- include "oc.selector" . | nindent 2 }}
  replicas: 1
  strategy:
    type: Recreate
  template:
    {{- include "oc.templateMetadata" (dict "scope" $ "configCheck" false) | nindent 4 }}
    spec:
      containers:
        - name: {{ .appName }}
          image: "{{ ($openldap.image.registry | default "docker.io") }}/{{ ($openldap.image.repository | default "cleanstart/openldap") }}:{{ ($openldap.image.tag | default "2.6-amd64") }}"
          imagePullPolicy: {{ $openldap.image.pullPolicy | default "IfNotPresent" }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE # see https://github.com/bitnami/containers/issues/40841
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: LDAP_ROOT
              value: "dc=opencloud,dc=eu"
            - name: LDAP_ADMIN_DN
              value: "cn=admin,dc=opencloud,dc=eu"
            - name: LDAP_ADMIN_USERNAME
              value: "admin"
            - name: LDAP_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secretRefs.ldapSecretRef | default .appName }}
                  key: adminPassword
            - name: LDAP_CUSTOM_LDIF_DIR
              value: "/custom-ldifs"
          ports:
            - name: ldap
              containerPort: 1389
            - name: ldaps
              containerPort: 1636
          volumeMounts:
            - name: custom-ldif
              mountPath: /schemas/10_opencloud_schema.ldif
              subPath: 10_opencloud_schema.ldif
            - name: custom-ldif
              mountPath: /custom-ldifs/10_base.ldif
              subPath: 10_base.ldif
            {{- if $openldap.persistence.enabled }}
            - name: data
              mountPath: {{ $openldap.persistence.path | default "/bitnami/openldap" | quote }}
            {{- end }}
          resources:
            {{- toYaml .resources | nindent 12 }}
      volumes:
        - name: custom-ldif
          configMap:
            name: {{ .appName }}-config
        {{- if $openldap.persistence.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ .appName }}-data
        {{- end }}
{{- end }}
