{{- include "oc.basicServiceTemplates" (dict "scope" . "appName" "appNameOpenldap" "appNameSuffix" "") -}}
{{- $openldap := .Values.services.openldap }}
{{- if $openldap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .appName }}-slapd-conf
  namespace: {{ template "oc.namespace" . }}
  labels:
    app: {{ .appName }}
    {{- include "oc.labels" . | nindent 4 }}
data:
  slapd.conf.tpl: |-
    include		/etc/openldap/schema/core.schema
    include		/etc/openldap/schema/cosine.schema
    include		/etc/openldap/schema/inetorgperson.schema
    include	 	/etc/openldap/schema/nis.schema
    include         /etc/openldap/schema/10_opencloud.schema

    modulepath	/usr/lib/openldap
    moduleload	back_mdb.so

    database config

    database	mdb
    maxsize	1073741824
    suffix	"{{ include "oc.ldapBaseDN" . }}"
    rootdn	"{{ include "oc.ldapAdminDN" . }}"
    rootpw	{{ .Values.services.openldap.adminPassword | quote }}
    directory	{{ $openldap.persistence.dataPath | default "/var/lib/ldap" }}
    index	objectClass	eq

    database monitor
  10_opencloud.schema: |-
    objectidentifier openCloudOid 1.3.6.1.4.1.63016
    attributetype ( openCloudOid:1.1.1 NAME 'openCloudUUID'
      DESC 'A non-reassignable and persistent account ID'
      EQUALITY uuidMatch
      SUBSTR caseIgnoreSubstringsMatch
      SYNTAX 1.3.6.1.1.16.1 SINGLE-VALUE )
    attributetype ( openCloudOid:1.1.2 NAME 'openCloudExternalIdentity'
      DESC 'A triple separated by "$" representing the objectIdentity resource type of the Graph API ( signInType $ issuer $ issuerAssignedId )'
      EQUALITY caseIgnoreMatch
      SUBSTR caseIgnoreSubstringsMatch
      SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 )
    attributetype ( openCloudOid:1.1.3 NAME 'openCloudUserEnabled'
      DESC 'A boolean value indicating if the user is enabled'
      EQUALITY booleanMatch
      SYNTAX 1.3.6.1.4.1.1466.115.121.1.7 SINGLE-VALUE )
    attributetype ( openCloudOid:1.1.4 NAME 'openCloudUserType'
      DESC 'User type (e.g. Member or Guest)'
      EQUALITY caseIgnoreMatch
      SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 SINGLE-VALUE )
    attributetype ( openCloudOid:1.1.5 NAME 'openCloudLastSignInTimestamp'
      DESC 'The timestamp of the last sign-in'
      EQUALITY generalizedTimeMatch
      ORDERING generalizedTimeOrderingMatch
      SYNTAX 1.3.6.1.4.1.1466.115.121.1.24 SINGLE-VALUE )
    objectclass ( openCloudOid:1.2.1 NAME 'openCloudObject'
      DESC 'OpenCloud base objectclass'
      AUXILIARY
      MAY ( openCloudUUID ) )
    objectclass ( openCloudOid:1.2.2 NAME 'openCloudUser'
      DESC 'OpenCloud User objectclass'
      SUP openCloudObject
      AUXILIARY
      MAY ( openCloudExternalIdentity $ openCloudUserEnabled $ openCloudUserType $ openCloudLastSignInTimestamp ) )
{{- end }}
